<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title | default: "SolarWAVE Action" }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet"/>
  <link rel="icon" type="image/png" href="{{ '/assets/images/SolarWAVELogoSquare.png' | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}"/>
</head>
<body>
  {% include nav.html %}
  {% include mobile_nav.html %}
  {{ content }}
  {% include footer.html %}
  {% include mobile_nav_js.html %}
</body>
</html>
